html {
  scroll-behavior: smooth;
}

.gf-cairo {
  font-family: "Cairo", sans-serif;
}
.hover-glow a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}
.hover-glow:hover {
  opacity: 80%;
}

.hov-en-email:hover {
  color: #00c6ff;
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #0072ff,
    #00c6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #0072ff,
    #00c6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s ease;
}

.hov-en-linkedin:hover {
  color: #00d2ff;
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #3a7bd5,
    #00d2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #3a7bd5,
    #00d2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s ease;
}

.hov-en-purple:hover {
  background: #8e2de2; /* fallback for old browsers */
  color: #8e2de2;
  background: -webkit-linear-gradient(
    to bottom,
    #8e2de2,
    #4a00e0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #8e2de2,
    #4a00e0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hov-en-red:hover {
  color: #ed213a;
  background: #d31027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ea384d,
    #d31027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ea384d,
    #d31027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-transition-smooth:hover {
  /* animation: glitch-outline 0.2s steps(3, end); */
  transition: all 0.3s ease;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles */
  .h-social {
    font-size: 9rem;
    padding-top: 0.3rem;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* Styles */
  .h-social {
    font-size: 9rem;
    padding-top: 0.3rem;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Styles */
  .h-social {
    font-size: 8rem;
    padding-top: 0.5rem;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1521px) {
  /* Styles */
  .h-social {
    font-size: 8rem;
    padding-top: 1.8rem;
  }
  .nav-link:hover {
    transform: scale(1.2);
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1522px) {
  /* Styles */
  .h-social {
    font-size: 9rem;
    padding-top: 2rem;
  }
  .nav-link:hover {
    transform: scale(1.2);
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  .h-social {
    font-size: 10rem;
    padding-top: 3rem;
  }
  .nav-link:hover {
    transform: scale(1.2);
  }
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}

/*--- GLITCH CODE, I've taken it from https://css-tricks.com/glitch-effect-text-images-svg/ */

.glitch {
  color: #fff;
  position: relative;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    text-shadow: 1px 0 red;
    clip-path: inset(16% 0 49% 0);
  }
  5% {
    clip-path: inset(28% 0 67% 0);
  }
  10% {
    clip-path: inset(47% 0 13% 0);
  }
  15% {
    text-shadow: -1px 0 red;
    clip-path: inset(34% 0 19% 0);
  }
  20% {
    clip-path: inset(20% 0 27% 0);
  }
  25% {
    clip-path: inset(60% 0 23% 0);
  }
  30% {
    clip-path: inset(94% 0 7% 0);
  }
  35% {
    text-shadow: 1px 0 red;
    clip-path: inset(56% 0 26% 0);
  }
  40% {
    clip-path: inset(86% 0 6% 0);
  }
  45% {
    clip-path: inset(59% 0 5% 0);
  }
  50% {
    clip-path: inset(77% 0 21% 0);
  }
  55% {
    clip-path: inset(69% 0 6% 0);
  }
  60% {
    clip-path: inset(19% 0 63% 0);
  }
  65% {
    clip-path: inset(97% 0 1% 0);
  }
  70% {
    clip-path: inset(60% 0 21% 0);
  }
  75% {
    clip-path: inset(80% 0 16% 0);
  }
  80% {
    clip-path: inset(19% 0 74% 0);
  }
  85% {
    clip-path: inset(82% 0 18% 0);
  }
  90% {
    clip-path: inset(42% 0 30% 0);
  }
  95% {
    clip-path: inset(79% 0 3% 0);
  }
  100% {
    clip-path: inset(88% 0 10% 0);
  }
}
.glitch:hover::after {
  content: attr(data-text);
  z-index: 3;
  position: absolute;
  left: -3px;
  text-shadow: -1px 0 red;
  color: #212529;
  background: #e9ecef;
  overflow: hidden;
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip-path: inset(25% 0 57% 0);
  }
  5% {
    clip-path: inset(41% 0 15% 0);
  }
  10% {
    clip-path: inset(13% 0 73% 0);
  }
  15% {
    clip-path: inset(97% 0 1% 0);
  }
  20% {
    clip-path: inset(52% 0 42% 0);
  }
  25% {
    clip-path: inset(9% 0 41% 0);
  }
  30% {
    clip-path: inset(25% 0 11% 0);
  }
  35% {
    clip-path: inset(20% 0 15% 0);
  }
  40% {
    clip-path: inset(9% 0 41% 0);
  }
  45% {
    clip-path: inset(13% 0 36% 0);
  }
  50% {
    clip-path: inset(84% 0 9% 0);
  }
  55% {
    clip-path: inset(76% 0 13% 0);
  }
  60% {
    clip-path: inset(49% 0 45% 0);
  }
  65% {
    clip-path: inset(89% 0 1% 0);
  }
  70% {
    clip-path: inset(54% 0 32% 0);
  }
  75% {
    clip-path: inset(19% 0 42% 0);
  }
  80% {
    clip-path: inset(11% 0 69% 0);
  }
  85% {
    clip-path: inset(1% 0 67% 0);
  }
  90% {
    clip-path: inset(56% 0 11% 0);
  }
  95% {
    clip-path: inset(82% 0 14% 0);
  }
  100% {
    clip-path: inset(59% 0 37% 0);
  }
}

.glitch:hover::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 #20ffff;
  color: #212529;
  background: #e9ecef;
  overflow: hidden;
  animation: noise-anim-2 15s infinite linear alternate-reverse;
}

@keyframes glitch-outline {
  0% {
    left: 3px;
    text-shadow: -0.3rem 0px 0px red;
  }
  25% {
    left: -3px;
    text-shadow: 0.2rem 0px 0px #20ffff;
  }
  30% {
    left: 3px;
    text-shadow: 0.3rem 0px 0px red;
  }
  55% {
    left: -3px;
    text-shadow: -0.2rem 0px 0px #20ffff;
  }
  70% {
    left: 3px;
    text-shadow: 0.3rem 0px 0px red;
  }
  75% {
    text-shadow: 0.2rem 0px 0px #20ffff;
  }
  80% {
    text-shadow: 0.3rem 0px 0px red;
  }
  85% {
    text-shadow: -0.2rem 0px 0px #20ffff;
  }
  90% {
    text-shadow: -0.3rem 0px 0px red;
  }
  100% {
    left: 0px;
    opacity: 1;
    text-shadow: 0.2rem 0px 0px #20ffff;
  }
}

.glitch-cycle {
  animation: glitch-outline 0.4s steps(3, end);
}

@keyframes glitch-outline-no-move {
  0% {
    left: 0.15rem;
    text-shadow: -0.3rem 0px 0px red;
  }
  25% {
    left: -0.15rem;
    text-shadow: 0.2rem 0px 0px #20ffff;
  }
  30% {
    left: 0.15rem;
    text-shadow: 0.3rem 0px 0px red;
  }
  55% {
    left: -0.15rem;
    text-shadow: -0.2rem 0px 0px #20ffff;
  }
  70% {
    left: 0.15rem;
    text-shadow: 0.3rem 0px 0px red;
  }
  75% {
    text-shadow: 0.2rem 0px 0px #20ffff;
  }
  80% {
    text-shadow: 0.3rem 0px 0px red;
  }
  85% {
    text-shadow: -0.2rem 0px 0px #20ffff;
  }
  90% {
    text-shadow: -0.3rem 0px 0px red;
  }
  100% {
    left: 0px;
    opacity: 1;
    text-shadow: 0.2rem 0px 0px #20ffff;
  }
}

.nav-link:hover {
  animation: glitch-outline-no-move 0.07s steps(3, end);
}

.nav-link:hover::before {
  content: " ";
}

/* #nav-community:hover::after {
  content: " ❤️ ";
  font-size: smaller;
}

#nav-resume:hover::after {
  content: " 🗎 ";
}

#nav-projects:hover::after {
  content: " 🧑‍💻 ";
  font-size: smaller;
}

#nav-about:hover::after {
  content: " 😎 ";
  font-size: smaller;
}
 */
.iframe-responsive {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.iframe-container-full {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 120%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.bg-gray {
  background: rgb(7, 7, 7);
  color: white;
}

.navbar {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px #fff;
}

.tech-btn {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: 0.3rem;
}

/* JUMBOTRON STYLING */

.br-0 {
  border-radius: 0px;
}

.transition-smooth {
  transition: 0.4s;
}

.color-white {
  color: white;
}

.material-box {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.material-box-hover:hover {
  cursor: pointer;
  transition: box-shadow 0.4s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* FAQ Styling */
.cursor-pointer {
  cursor: pointer;
}

/* Video Styling from https://jsfiddle.net/ohepworthbell/k72hbytr/ */

.video-background {
  position: relative;
  width: 100%;
  height: 56%;
  min-height: 315px;
}
.video-background iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}
@media (min-aspect-ratio: 1.7777777778) {
  .video-background iframe {
    height: 56.25vw;
  }
}
@media (max-aspect-ratio: 1.7777777778) {
  .video-background iframe {
    width: 177.78vh;
  }
}

/* Background for navbar */

.bg-dark {
  background-color: #000000 !important;
}

/* Photo Gallery (Carousel) */
.carousel-item img {
  width: 100%;
}

.carousel-caption,
.black-highlight {
  background: rgba(0, 0, 0, 0.45) !important;
}

#lil-gallery .carousel-control-prev-icon,
#lil-gallery .carousel-control-next-icon,
#cashflow-gallery .carousel-control-prev-icon,
#cashflow-gallery .carousel-control-next-icon,
#d3-designs-gallery .carousel-control-prev-icon,
#d3-designs-gallery .carousel-control-next-icon,
#newstopia-ui-gallery .carousel-control-prev-icon,
#newstopia-ui-gallery .carousel-control-next-icon,
.rounded-buttons .carousel-control-next-icon,
.rounded-buttons .carousel-control-prev-icon {
  background: rgba(0, 0, 0) !important;
  border-radius: 50%;
}
/* Newstopia-UI-img */
.newstopia-ui-img,
.lil-img,
.project-slideshow-img {
  height: 70vh;
  object-fit: contain;
}

/* Single project image */
.single-project-image {
  height: 50vh;
  object-fit: contain;
  border: 1px solid rgb(173, 173, 173);
}

/* For images in the Community section */
.card-img {
  object-fit: contain;
  max-width: max-content;
}
